<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Bahrain Cars Directory</title>
</head>
<body>
  <h1>Welcome to the Bahrain Car Selling Directory!</h1>

  <img src="/assets/phonebook.png" alt="phonebook" class="phonebook" />
  <p>A simple directory where users can browse used cars in Bahrain</p>
  <a href="/cars" class="cars-index-link">
    <div class="index-link-text">Browse Cars</div>
  </a>
</body>
<footer>
  <p>
    Icons by
    <a href="https://www.flaticon.com/authors/freepik" target="_blank" rel="noopener noreferrer">
      Freepik
    </a>
  </p>
</footer>
</html>
